[Unit]
Description=Update SSL certificates using acme-tiny

[Service]
Type=oneshot
ExecStart=/opt/acme-tiny-wrapper/acme-tiny-wrapper
User=acme-tiny
PermissionsStartOnly=true
