[Unit]
Description=Update SSL certificates using acme-tiny

[Service]
Type=oneshot
ExecStart=/usr/libexec/acme-tiny-wrapper/acme-tiny-wrapper
User=acme
PermissionsStartOnly=true
